#map {
  max-height:800px;
  max-width:800px;
  height:100%;
}

.sensors {
    position: absolute;
}

.slcClass{
  fill:none;
  stroke:cornflowerblue;
}

.laClass{
  fill:none;
  stroke:red;
}

.denverClass{
  fill:none;
  stroke:green;
}

.minneapolisClass{
  fill:none;
  stroke:orange;
}

.dotslcClass{
  fill:cornflowerblue;
}

.dotlaClass{
  fill:red;
}
.dotdenverClass{
  fill:green;
}
.dotminneapolisClass{
  fill:orange;
}
.sensors svg {
    width: 60px;
    height: 20px;
    font: 10px sans-serif;
    position: absolute;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
