#map {
  position:relative;
  max-height:45%;
  max-width:100%;
  height:100%;
  margin: 20px;
}

#lineChart {
  position:relative;
  float:left;
  max-height:50%;
  max-width:50%;
  height:50%;
  width:50%;
}

#scatterplot {
  position:relative;
  float:right;
  max-height:50%;
  max-width:50%;
  height:50%;
  width:50%;
}

.sensors {
    position: absolute;
}

.hoverMap {
  stroke-width: 5px;
  stroke: black;
  opacity: 1;
}

.hoverScatter {
  r:5px;
  stroke-width: 2px;
  stroke: black;
}


#dropdownDiv {
  width:1000px;
  z-index:100;
  position:absolute;
  top:50%;
  left:5%;
}

.slcClass{
  fill:none;
  stroke:cornflowerblue;
}

.laClass{
  fill:none;
  stroke:red;
}

.denverClass{
  fill:none;
  stroke:green;
}

.minneapolisClass{
  fill:none;
  stroke:orange;
}

.dotslcClass{
  fill:cornflowerblue;
  opacity: .7;

}

.dotlaClass{
  fill:red;
  opacity: .7;
}
.dotdenverClass{
  fill:green;
  opacity: .7;

}
.dotminneapolisClass{
  fill:orange;
  opacity: .7;

}
.sensors svg {
    width: 60px;
    height: 60px;
    font: 10px sans-serif;
    position: absolute;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.selectedDot{
  r: 8px;
  opacity: 1;
  stroke: #333333;
  stroke-width:2px;
}

#mapTooltip, #scatterplotTooltip, #lineChartTooltip {
	z-index: 1000;
	position: absolute;
	text-align: center;
	margin: 2px;
	margin-bottom: 0px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 1px;
	border-radius: 2px;
	pointer-events: none;

	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	max-width:400px;
	width:auto;
	padding:4px;
	padding-bottom: 0px;
	color:white;
	opacity:0;
}
